<div class="container ">
<div class="row ">
<div class="col-md-7 col-12 mainContent"> 
    <div class="d-flex h-100">
        <div class="align-self-center">
            <h2>our <span class="d-block">projects</span></h2>
            
            <p>Babylon Property Group believes in delivering exceptional construction and infrastructure projects using innovative technology. We plan all the projects during the conceptual stage with our collaborative team that works from design to construction to proper finishing. The integrated team approach, followed by us helps in putting the focus of all team members towards the zenith of our completed projects.</p>

<p>Our construction projects vary as we perform them in different industries like Residential, Government, Higher education, Sustainable, Healthcare, Aviation, Parking, and Commercial offices. The delivery of all our projects is done on time!</p>
 
<div class="d-flex mt-5">

    <a href="" class="readMore animated fadeInLeft me-4">  
        <app-button text="Mumbai" />  
        </a>
    
       
</div>

    </div>
    </div>



</div>

<div class="col-md-5 col-12 mb-5"> 
<app-project-slider/>
</div>

</div>
</div>