<div class="container mb_80">
    <div class="row justify-content-between" >
        <div class="col-lg-5 col-12 order-2"  >
            <div class="aboutPic mt-5 mt-md-0 " @animation >
                <img src="../../../assets/about.jpg" class="w-100 d-block ptr"
                    alt="about Babylon Property Group infrastructure development mumbai" />

                <div class="expYears">
                    <div class="years">
                        <div class="num"><span>46</span></div>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12 mb-5" >
            <h1>about  <span class="d-block"> Babylon</span> <span class="d-block"> Property Group</span></h1>
            <p>With over 46 years of experience, Babylon Property Group is a premier name in the world of infrastructure
                development. Babylon Property Group is dedicated to developing the infrastructure in India. We believe
                in providing exceptional construction services to our clients using modern technologies. Be it
                construction, real estate, infrastructure development, or designing; we promise to deliver quality
                projects to our clients.</p>

            <p>We provide speed, impeccable design, quality, procurement of items, and construction engineering in all
                of our construction projects.
            </p>

            <a href="" class="readMore animated fadeInLeft">  
                 <app-button text="View More" />  
                 </a>

        </div>



    </div>
</div>