<footer>
    <div class="container-fluid footerWrap py-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3 mb-4">
                    <h3>Babylon Property Group</h3>
                    <p class="mb-4">Elphinstone Road, 1202, 12th floor, One International Center, Tower-3 Senapati Bapat Marg, Delisle Rd,
                        ,<br> Mumbai - 400013.</p>
    
    
                <p><i class="fa fa-phone" aria-hidden="true"></i> 022-12345678, 022-12345678</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@babylonproperty.com">infobabylonproperty.com</a></p>
                
                <div class="d-block mt-4">
                    <a href="#" class="sm fb"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a href="#" class="sm twitter"> <fa-icon [icon]="faTwitter"></fa-icon> </a>
                    <a href="#" class="sm insta"> <fa-icon [icon]="faInstagram"></fa-icon> </a>
                    <a href="/sitemap.html" title="Sitemap">Sitemap</a>
                </div>
    
                    
                </div>
                
                <div class="col-lg-8">
                    <h3>USEFUL links</h3>
                    <ul class="mb-4">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about-us.html">about us</a></li>
                        <li><a href="#">our clients</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                        
                    </ul>
                    
                    
                   
                    
                    <h3>projects</h3>
                    <ul class="mb-4">
                        <li><a href="#">Mumbai</a></li>
                        <li><a href="#">Maharashtra</a></li>
                    </ul>
                    
                    <h3>get in touch</h3>
                    
                    <form id="get_in_touch" class="row footerForm" novalidate="novalidate">
                        <div class="col-lg-4 form-group pr-0">
                            <input type="text" id="footer_name" name="footer_name" class="form-control" placeholder="Name">
                            <input type="text" id="footer_company" name="footer_company" class="form-control" placeholder="Company Name">
                        </div>
    
                        <div class="col-lg-4 form-group pr-0">
                            <input type="text" id="footer_phone" name="footer_phone" class="form-control" placeholder="Phone Number">
                            <input type="text" id="footer_email" name="footer_email" class="form-control" placeholder="Email id">
                        </div>
    
                        <div class="col-lg-4 form-group pr-0">
                            <textarea class="form-control" id="footer_message" name="footer_message" placeholder="Messege"></textarea>
                        </div>
        
                        <div class="col-lg-4 form-group pr-0">
                            <input type="submit" class="form-control submit" value="SUBMIT">
                        </div>
        
    
    </form>
                    
                        
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="container-fluid copyRight pt-3 pb-3 bottom_strip">
        <div class="container">
            <div class="row  justify-content-between align-items-center">
                <div class="col-12 col-sm-auto marBottom">
                 2024 Babylon Property Group. All rights reserved.
                </div>
    
            </div>
        </div>
    </div>
    </footer>