.navbar-nav > li {
  margin-left: 10px;
  margin-right: 10px;
}

.searchW {
  position: absolute;
  top: 75px;
  right: 20px;
}

.arrow-animation {
  position: relative;
  animation: linear infinite alternate;
  -webkit-animation: linear infinite alternate;
  animation-name: run;
  -webkit-animation-name: run;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  font-size: 22px;
  color: #000;
}

@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0;
  }
}

.active {
  color: #fff !important;
  background-color: #535eae;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.navbar-nav li a:after {
  position: absolute;
  width: 0;
  height: 3px;
  content: "";
  background: #202020;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navbar-nav li a:hover:after,
.mainNav ul li:hover > a:after {
  width: 100%;
}
