<div class="container serviceWrap"    @fadeIn>
<div class="row">
    <div class="col-md-6 col-12 mb-4">
        <div class="serviceBox h-100">
            <div class="number">1</div>
            <div class="serviceIcon"><img [src]="ResditialIcon" alt="Babylon Property Group construction company"/></div>
            <h2>Residential</h2>
            <p>As a construction company, our aim at Babylon Property Group is not only to build residential and commercial complexes but also to construct dreams that are made to last. We construct buildings catering to the needs and wants of the clients. We use advanced technology to make sure that our projects meet their maximum potential.</p>
            <a href="#">Read more </a>
        </div>

    </div>



    <div class="col-md-6 col-12 mb-4">
        <div class="serviceBox h-100">
            <div class="number">2</div>
            <div class="serviceIcon"><img [src]="CommericlalIcon" alt="Babylon Property Group construction company"/></div>
            <h2>Residential</h2>
            <p>As a construction company, our aim at Babylon Property Group is not only to build residential and commercial complexes but also to construct dreams that are made to last. We construct buildings catering to the needs and wants of the clients. We use advanced technology to make sure that our projects meet their maximum potential.</p>
            <a href="#">Read more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>

    </div>


</div>
</div>
