<app-inner-banner heading="About"  [imageSrc]="aboutBanner"   @fadeIn />


<div class="container mb_80 my-5"   @fadeIn>
    <div class="row d-flex align-items-center">
    <div class="col-lg-6">
        <img src="assets/about-us-img1.jpg" alt="" class="img-fluid w-100 rounded-lg">
    </div>
    
    <div class="col-lg-6">
    
        <div class="">
            <h2 class="mb-2">Vision</h2>
            <p class="mb-5">Mazim saepe instructior mel ei, sanctus assueverit per at, ad eam veri putent nonumes. Id duo modo quidam maluisset, ut mel tractatos intellegat. Ea electram repudiandae qui. Ea soluta meliore accumsan vel, est veniam populo ea. Mel habeo elitr dissentiunt id, oratio fabulas lobortis te pri.
            </p>
            <app-button text="Read More" />  
    
        </div>
    </div>
    </div>
    
    
    <div class="row d-flex align-items-center my-5">
       
        <div class="col-lg-6">
                <div class="">
                <h2 class="mb-2">Mission</h2>
                <p class="mb-5">Mazim saepe instructior mel ei, sanctus assueverit per at, ad eam veri putent nonumes. Id duo modo quidam maluisset, ut mel tractatos intellegat. Ea electram repudiandae qui. Ea soluta meliore accumsan vel, est veniam populo ea. Mel habeo elitr dissentiunt id, oratio fabulas lobortis te pri.
                </p>
                <app-button text="Read More" />  

            </div>
        </div>
    
    
        <div class="col-lg-6">
            <img src="assets/about-us-img3.jpg" alt="" class="img-fluid w-100 rounded-lg">
        </div>
    
    
    
    
    
        </div>
    
    
    
    
    
    
    
    
    </div>







<app-our-strength></app-our-strength>