

  <div class="container-fluid counterWrap py-80">

    <div class="container mainContent">
        <div class="row justify-content-between">
            
        
            <div class="col-lg-5 col-12 mb-5" data-aos="fade-up">
                
                <div class="d-flex h-100">
                    <div class="align-self-center">
                        <h2 class="text-white">our <span class="d-block">strength</span></h2>
                        
                        <p>Babylon Property Group takes pride in everything it does and all the people who help the group to strive for becoming better every day. </p>
             
                </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-12 order-12 conterBox numberData" data-aos="fade-down">
                
                <div class="row justify-content-between">
            <div class="col-6">
                <div class="bigNum"><span class="counter">{{ count }}</span>+</div>
                <span class="d-block title">projects</span>
                
                <p>After completing 100 successful projects, we feel proud and confident about entering new projects of our domain.</p>
            </div>
            
            <div class="col-6">
                <div class="bigNum"><span class="counter">{{ count2 }}</span>+</div>
                <span class="d-block title">APARTMENTS</span>
                <p>Motivation can take you far, but it can take you even further if you first find your vision. Your vision will motivate and guide you on
    
                </p>
            </div>
            
            
            
               
                
        </div>
                
            </div>
            
        </div>
    </div>
    
    </div>